.settings
build*
.project
.cproject
*~
*.orig
*.bak
/tools/xilinx/zynq_sdcard/ap_pdi.elf
/tools/xilinx/zynq_sdcard/BOOT.BIN
/tools/xilinx/zynq_sdcard/pcp_PDI.bin
/tools/xilinx/zynq_sdcard/pcp_PDI.elf
/tools/xilinx/zynq_sdcard/system.bit
/tools/xilinx/zynq_sdcard/zynq_fsbl_dualProcessor.elf
